@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

body {
  @apply bg-bg-blue-900;
  scroll-behavior: smooth;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pulse {
  animation: pulse 3s infinite;
}